body{
    background-color: black;
    color: white;
}
.Yo{
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
}
.Yo img{
    
    align-items: center;
}
img{
    border-radius: 50%;
    height: 200px;
    width: 175px;
}
