/* Comienza el cuerpo*/
body{
    background-color: #000;
    background-image: url(..//Img/background.jpeg);
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

/*Termina el cuerpo*/
/*Comienza la cabecera*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 2%;;
    transition-duration: 0.5s;
    padding-right: 2%;
}
nav h1{
    color: #ffffff;
    font-size: 40px;
    
}
nav ul li{
    display: inline-block;
    padding: 0px 10px;
    
}
nav a{
    transition-duration: 0.5s;
}
nav a:hover{
padding: 0px 25px 0px 25px;
transition-duration: 0.5s;
font-size: 25px;
}
.logoDerecha a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 10px;
}
/* Termina la cabecera*/

.Contenedor1{
display: flex;
justify-content: space-between;
margin-top: 10%;
color: white;
text-decoration: none;
font-size: 50px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
margin-bottom: 10%;
padding-left: 2%;
}
.Contenedor1 p{
    margin: 0%;
}
.Contenedor1 .apellidos{
    font-size: 30px;
}
.nombre{
flex-direction: column;
}

ul.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}
ul.acorh {
margin: 10px auto;
padding: 0;
list-style: none;
width: 100%;
font-size: 18px;
}
ul.acorh li {
list-style: none;
}
ul.acorh li a {
display: block;
padding: 10px 10px 10px 20px;
background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
color: #000000;
border-bottom: 1px solid #000;
text-decoration: none;
box-sizing: border-box;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .0.8s all ease-in;
}
ul.acorh li ul li {
padding: 10px 10px 10px 40px;
background: #999;
color: #000;
font-size: 16px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
}
ul.acorh li li:last-child a {
border-bottom: 0;
}
ul.acorh li.ListadeProyectos:hover ul {
max-height: 300px;
transition: 0.8s all ease-in;
}
ul.acorh li.SobreMi:hover ul {
    max-height: 400px;
    transition: 0.8s all ease-in;
    }
ul.acorh li a:hover {
    background: rgb(119,98,46);
    background: linear-gradient(276deg, rgba(119,98,46,0) 80%, rgba(255,126,0,1) 100%);

}
#Retrato{
    display: flex;
    justify-content: left;
    height: 100px;
    width: 100px;
}
